{%   extends  "master.html"  %}
{%  block content  %}
<style>
   table{        margin-top: 100px;         margin-left: 250px; }
 </style>
<h1>Welcome To student  Data for Deletion</h1>
<table border="1">
<tr style="font-size: 20px;">

<th>Name</th>
<th>Course</th>
<th>Ht_No</th>
<th>Mobile</th>
<th>Pov</th>
<th>Delete</th>
</tr>
{%  for  x  in  data  %}
<tr style="font-size: 16px;">

<td>{{x.name}}</td>
<td>{{x.course}}</td>
<td>{{x.Ht_No}}</td>
<td>{{x.mobile}}</td>
<td>{{x.pov}}</td>

<td>
 <a href="{%  url  'delete_student'   pk=x.id  %}">    Delete </a>
</td>
</tr>
{% endfor %}
</table>
<br>
</form>
 {% endblock %}